a {
  text-decoration: none;
  color: inherit;
}
img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.iframecss {
  width: 100%;
  height: auto;
  min-height: 80vh !important;
  border: 0 !important;
}
.scroll-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 50%;
  z-index: 1;
}
.menu-logo {
  max-width: 30px;
  margin-right: 5px;
  margin-top: -1px;
}
.userpic {
  width: 30px;
  height: 30px;
}
.card-img {
  max-height: 300px;
}
.card-image {
  max-height: 200px;
}
.active {
  color: orangered !important;
  font-weight: bold !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}
/* Mobile Screen CSS */
@media (max-width: 992px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
  .scroll-to-top {
    right: 1rem;
  }
  .menu-logo {
    max-width: 28px;
    margin-top: -5px;
  }
}
/* Animation CSS */
#animateimg,
#animateimg2 {
  animation: 2s ease-in-out infinite alternate-reverse both up-down;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 0.5s;
  cursor: pointer;
}
#animate,
#animateimg:hover {
  animation: 30s linear infinite animate;
}
#animate2,
#animateimg2:hover {
  animation: 30s linear infinite animate2;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0);
  }
  100% {
    transform: perspective(1000px) rotateY(-370deg);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes animate2 {
  0% {
    transform: perspective(1000px) rotateY(0);
  }
  100% {
    transform: perspective(1000px) rotateY(370deg);
  }
}
@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
/* New class for always up-down animation */
#animateupdown {
  animation: 2s ease-in-out infinite alternate-reverse both up-down;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 0.5s;
  cursor: pointer;
}

/* On hover → stop animation */
#animateupdown:hover {
  animation-play-state: paused;
}
